.emoji-pallet {
  display: flex;
  flex-direction: column;

  font-size: 1.3rem;

  border-radius: .5em;

  input {
    padding: .5em;

    border: none;
    border-radius: .5em;

    font-size: 1em;
    color: var(--on-secondary);

    background: none;
    background-color: rgba(0, 0, 0, .05);

    &:focus {
      outline: none;
    }
  }

  .folder {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    border-radius: .5em;

    overflow: hidden;

    a {
      border-radius: .5em;
      background-color: rgba(0, 0, 0, .05);
      padding: .5em;
      box-sizing: border-box;
      width: 100%;

      user-select: none;
    }
  }

  .folder:not(&>.folder) {
    margin: .5em 0 .5em .5em;
    width: calc(100% - .5em);
    background-color: var(--secondary-tonal-bg);
  }

  &>.folder {
    width: calc(100% - .2em);
    margin: .1em;

    .emojis {
      margin-left: .5em;
    }
  }

  .emojis,
  .result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: hidden;

    button {
      margin: 0;
      padding: .5em;

      width: calc(100% / 5);

      background-color: transparent;

      border: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      cursor: pointer;

      img {
        height: 3em;

        max-width: fit-content;
      }
    }
  }
}