:root[page="notes"] {
  body {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  .head {
    text-align: center;
    padding: .5em 0;

    font-size: 1.5em;

    border-bottom: solid 1px;
  }

  .page-root {
    padding: 0 .5em;
  }
}