.m3-button {
  position: relative;

  display: flex;
  align-items: center;

  width: fit-content;

  border-radius: .5em;

  font-size: 1em;
  color: currentColor;

  box-sizing: border-box;
  user-select: none;
  overflow: hidden;

  background: none;

  &[type="text"] {
    border: none;
  }

  &[type="outlined"] {
    border: solid 1px currentColor;
  }

  &:disabled {
    opacity: .5;
  }

  .ripple {
    display: block;
    width: 150px;
    height: 150px;

    background-color: color-mix(in srgb, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0));

    position: absolute;

    border-radius: 100%;

    pointer-events: none;

    transform: scale(0);
    opacity: 0;
    animation: ripple .7s ease-out;
  }
}

@keyframes ripple {
  from {
    opacity: 1;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}