.m3-modal {
  position: fixed;
  inset: 0;

  z-index: 7000;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  animation-duration: 0.6s;
  animation-name: fade-in;

  .root {
    position: fixed;
    inset: 0;

    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;

    margin: auto;
    padding: 1em;

    border-radius: .5em;

    width: fit-content;
    min-width: 80%;
    height: fit-content;

    background-color: var(--secondary-bg);
    color: var(--on-secondary);

    box-sizing: border-box;

    animation-duration: 0.6s;
    animation-name: moveIn;

    &>div {
      text-align: center;
    }

    .icon {
      user-select: none;
      margin: 0 auto;

      font-size: 2.5em;

      &[name="info"] {
        color: var(--primary);
      }

      &[name="warning"] {
        color: var(--warning);
      }

      &[name="error"] {
        color: var(--error);
      }
    }

    .buttons {
      display: flex;
      gap: .5em;
      justify-content: center;
      flex-wrap: wrap;

      min-width: 70%;

      * {
        flex: 1;
        justify-content: center;

        padding: .5em;
      }
    }
  }
}